/.blobs
/.bosh_config
/.dev_builds
/.ruby-version
/blobs
/dev_releases

# not managing public releases right now
/.final_builds
/config
/releases
config/dev.yml
config/private.yml
releases/*.tgz
releases/**/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
